<h1>New Book</h1>

<% if @book.errors.any? %>
  <p><% @book.errors.full_messages.each do |m| %>
    Error: <%= m %></br>
  <% end %></p>
<% end %>

<% if Branch.any? %>
  <form action="/books/new" method="post">
    <p>Title: <input type="text", name="title", value="<%= @book.title %>"></br>
      Author: <input type="text", name="author", value="<%= @book.author %>"></br>
      ISBN: <input type="text", name="isbn", value="<%= @book.isbn %>"></br>
      Branch: <select name="branch_id">
        <option selected disabled><em>Choose One:</em></option>
        <% @branches.each do |branch| %>
          <% branch.id == @book.branch_id ? selected = "selected" : selected = "" %>
          <option value="<%= branch.id %>" <%= selected %>><%=branch.name%></option>
        <% end %>
      </select></br>
    <em>(Don't see the right branch listed? <a href="/branches/new">Enter a new one here</a>.)</em></p>
    <input type="submit" value="Enter New Book">
  </form>
<% else %>
  <p><em>Before you can create new books,
  you need to create a branch to which to assign them.</em></br>
  <a href="/branches/new">Create new Branch</a></p>
<% end %>
