<p><a href="/branches"><< Back to All Branches</a></p>
<% if @branch %>
  <h1><%= @branch.name %></h1>

  <p><em>Address:</em> <%= @branch.address %></br>
  <em>Phone number:</em> <%= @branch.phone_number %></p>
  <% if @staff_members.any? %>
    <p>Staff:</br>
    -<% @staff_members.each {|staff_member| %>
    <a href="/staff_members/<%= staff_member.id%>"><%= staff_member.name %></a></br><%}%></p>
  <% end %>
  <p><a href="/branches/<%= @branch.id %>/edit">Edit info</a></p>
<% else %>
  <h1>Error</h1>
  <p>No branch with that ID exists</p>
<% end %>
