<p><a href="/patrons"><< Back to All Patrons</a></p>
<% if @patron %>
  <h1><%= @patron.name %></h1>

  <p><em>Email:</em> <%= @patron.email %></br>
  <a href="/patrons/<%= @patron.id %>/edit">Edit info</a></p>
  <% if @copies.any? %>
    <p>Checked-out Items:</br>
    <ul><% @copies.each {|copy| %>
    <li><a href="/works/<%=copy.work_id%>"><em><%= copy.work.title %></em></a>,
      <%= copy.work.author %> (<%= copy.work.year %>)
      Branch: <a href="/branches/<%= copy.branch_id %>"><%= copy.branch.name %></a></br><%}%>
    </ul></p>
  <% end %>
  <% if Branch.any? %>
  <p><form action="/patrons/<%=@patron.id%>/checkout" method="get">
    Branch: <select name="branch_id">
      <option disabled selected>
      <% @branches.each do |branch| %>
        <option value="<%=branch.id%>"><%= branch.name %></option>
      <% end %>
    </select>
    <input type="submit", value="Check Out Item">
  </form></p>
  <% else %>
    <p><em>(No branches available from which to check out new items.
      <a href="/branches/new">Enter a new one here</a>)</em></p>
  <% end %>
<% else %>
  <h1>Error</h1>
  <p>No patron with that ID exists</p>
<% end %>
