<h1>New Patron</h1>

<% if @patron.errors.any? %>
  <p><% @patron.errors.full_messages.each do |m| %>
    Error: <%= m %></br>
  <% end %></p>
<% end %>

<form action="/patrons/new" method="post">
  <p>Name: <input type="text", name="name", value="<%= @patron.name %>"></br>
  Email: <input type="text", name="email", value="<%= @patron.email %>"></br>
  Primary Branch: <select name="branch_id">
    <option selected disabled>Choose One:</option>
    <% @branches.each do |branch| %>
      <% branch.id == @patron.branch_id ? selected = "selected" : selected = "" %>
      <option value="<%= branch.id %>" <%= selected %>><%=branch.name%></option>
    <% end %>
  </select></br>
  <input type="submit" value="Enter New Patron">
</form>
