<p><a href="/patrons"><< Back to All Patrons</a></p>
<% if @patron %>
  <h1><%= @patron.name %></h1>

  <p><em>Email:</em> <%= @patron.email %></p>
  <% if @works.any? %>
    <p>Works:</br>
    <% @works.each {|work| %>
    - <a href="/works/<%= work.id%>"><%= work.title %></a> -
    branch: <a href="/branches/<%= work.branch_id %>"><%= work.branch.name %></a></br><%}%></p>
  <% end %>
  <p><a href="/patrons/<%= @patron.id %>/edit">Edit</a></p>
<% else %>
  <h1>Error</h1>
  <p>No patron with that ID exists</p>
<% end %>
