<h1>Edit Patron: <%= @patron.name %></h1>

<% if @patron.errors.any? %>
  <p><% @patron.errors.full_messages.each do |m| %>
    Error: <%= m %></br>
  <% end %></p>
<% end %>

<form action="/patrons/<%= @patron.id %>/edit" method="post">
  <p>Name: <input type="text", name="name", value="<%= @patron.name %>"></br>
  Email: <input type="text", name="email", value="<%= @patron.email %>"></br>
  <input type="submit" value="Update Patron">
</form>
