<p><a href="/patrons"><< Back to All Patrons</a></p>
<% if @patron %>
  <h1><%= @patron.name %></h1>

  <p><em>Email:</em> <%= @patron.email %></p>
  <% if @books.any? %>
    <p>Books:</br>
    <% @books.each {|book| %>
    - <a href="/books/<%= book.id%>"><%= book.title %></a> -
    branch: <a href="/branches/<%= book.branch_id %>"><%= book.branch.name %></a></br><%}%></p>
  <% end %>
  <p><a href="/patrons/<%= @patron.id %>/edit">Edit</a></p>
<% else %>
  <h1>Error</h1>
  <p>No patron with that ID exists</p>
<% end %>
