<a href="/staff_members/<%= @staff_member.id %>"><< Back to <%= @staff_member.name %></a>
<h1>Edit Staff Member: <%= @staff_member.name%></h1>

<% if @staff_member.errors.any? %>
  <p><% @staff_member.errors.full_messages.each do |m| %>
    Error: <%= m %></br>
  <% end %></p>
<% end %>

<form action="/staff_members/<%= @staff_member.id %>/edit" method="post">
  <p>Name: <input type="text", name="name", value="<%= @staff_member.name %>"></br>
  Email: <input type="text", name="email", value="<%= @staff_member.email %>"></br>
  Branch: <select name="branch_id">
    <% @branches.each do |branch| %>
      <% branch.id == @staff_member.branch_id ? selected = "selected" : selected = "" %>
      <option value="<%= branch.id %>" <%= selected %>><%=branch.name%></option>
    <% end %>
  </select></br>
  <em>(Don't see the right branch listed? <a href="/branches/new">Enter a new one here</a>.)</em></p>
  <input type="submit" value="Update Staff Member">
</form>
