<a href="/patrons/<%=@patron.id%>"><< Back to <%= @patron.name %></a>
<h1>Edit Patron: <%= @patron.name %></h1>

<% if @patron.errors.any? %>
  <p><% @patron.errors.full_messages.each do |m| %>
    Error: <%= m %></br>
  <% end %></p>
<% end %>

<form action="/patrons/<%= @patron.id %>/edit" method="post">
  <p>Name: <input type="text", name="name", value="<%= @patron.name %>"></br>
  Email: <input type="text", name="email", value="<%= @patron.email %>"></br>
  Primary Branch: <select name="branch_id">
    <% @branches.each do |branch| %>
      <% (branch.id == @patron.branch_id) ? selected = "selected" : selected = "" %>
      <option value="<%= branch.id %>" <%= selected %>><%= branch.name%></option>
    <% end %>
  </select></br>
  <input type="submit" value="Update Patron">
</form>
